button{

    background-color:#E23744;
    color:white;
    padding:12px 20px;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
    margin:10px;

}

button:hover{

    background-color:#C62828;

}