body{

    font-family: Arial;
    background-color: #f5f5f5;

}

.card{

    width:300px;

    margin:40px auto;

    padding:20px;

    border:2px solid #E23744;

    border-radius:10px;

    background:white;

}

h2{

    color:#E23744;

}

p{

    font-size:18px;

}